#screen {
  margin-top:30px;
  height:80px;
  background:black;
  padding:5px;
  background-color:#C3BDAC;
  margin-bottom:10px;
  border-radius:10px;
  text-align:right;
  font-size:3em;
  font-family: 'VT323', monospace;
}

.container{

  width:450px;
}

.calcbtn{

border-radius:5px;
margin-bottom: 3px;
font-family: 'Rubik', sans-serif;
font-size:30px;



}

body{
  background-color: black;
}
